In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import fastparquet

In [14]:
target = pd.read_csv("optiver/train.csv")

In [15]:
trdf = pd.read_parquet("optiver/trade_train.parquet", engine = 'fastparquet')

In [8]:
bkdf = pd.read_parquet('optiver/book_train.parquet', engine = 'fastparquet')

In [ ]:
#kernel dead

df = pd.merge(trdf, bkdf, how='inner', on = ['stock_id', 'time_id','seconds_in_bucket'])
len(trdf) - len(df)

In [3]:
example = pd.DataFrame({'a': [1, 2, 3]})

In [4]:
example.reset_index(inplace = True)

In [5]:
print(example)

   index  a
0      0  1
1      1  2
2      2  3

In [ ]:
trdf0 = trdf.head(10000)
bkdf0 = bkdf.head(100000)

In [ ]:
pd.merge(trdf0, bkdf0, how='inner', on = ['stock_id', 'time_id','seconds_in_bucket'])

In [9]:
bkdf.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100,0
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100,0
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100,0
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0