In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import fastparquet

In [2]:
target = pd.read_csv("optiver/train.csv")

In [3]:
df = pd.read_parquet("optiver/trade_train.parquet", engine = 'fastparquet')

In [4]:
df2 = pd.read_parquet('optiver/book_train.parquet', engine = 'fastparquet')

In [5]:
df2.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100,0
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100,0
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100,0
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100,0

In [6]:
len(df)

38382741

In [7]:
len(df2)

167253289

In [8]:
df.head()

   time_id  seconds_in_bucket     price  size  order_count stock_id
0        5                 21  1.002301   326           12        0
1        5                 46  1.002778   128            4        0
2        5                 50  1.002818    55            1        0
3        5                 57  1.003155   121            5        0
4        5                 68  1.003646     4            1        0

In [9]:
df.seconds_in_bucket.describe()

count    3.838274e+07
mean     2.967672e+02
std      1.735492e+02
min      0.000000e+00
25%      1.460000e+02
50%      2.960000e+02
75%      4.470000e+02
max      5.990000e+02
Name: seconds_in_bucket, dtype: float64

In [12]:
df2.time_id.unique()

array([    5,    11,    16, ..., 32758, 32763, 32767], dtype=int16)